<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Office App</a>
    <form class="form-inline">
      <button
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!isUserAuthenticated()"
        routerLink="/login" type="button">
        Login
      </button>
      <button
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="isUserAuthenticated()"
        (click)="logOut()" type="button">
        Logout
      </button>
    </form>
  </div>
</nav>
